/*
    +-------------------------------------+
    | Agrandisssement_+_opacite_h2&3_menu |
    +-------------------------------------+
*/

.zoom:hover {
    -webkit-transform: scale(1);
    -webkit-animation: grandit 0.8s ease-in-out forwards;
    -webkit-animation-delay: 150ms;
    opacity: 1;
}

/*J"agrandis puis remet à l'état initial et rend légérement transparent*/
@-webkit-keyframes grandit {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50%,60% {
        -webkit-transform: scale(1.15);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0.7;
    }
}


/*
    +--------------------+
    | Wiggle_Footer_lien |
    +--------------------+
*/

/*Je fais tourner alternativement mon lien pour créer l'effet wiggles*/
 @-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(2deg);
    }

    35% {
        -webkit-transform: rotate(0deg);
    }

    65% {
        -webkit-transform: rotate(-2deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

/*Je le fais se répeter plusieurs fois*/
footer a:hover {
    display: block;
    -webkit-animation: wiggle 0.15s;
    -webkit-animation-iteration-count: 3;
}


/*
    +----------------------+
    | Anim_3_petits_points |
    +----------------------+
*/

/*Animaton pour faire disparaitre le point*/
@-webkit-keyframes point {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Je le fais se répeter à l'infini + forwards pour l'état initial sur l'ensemble des points*/
.point {
    -webkit-animation: point 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode:forwards;
}

/*Le deuxième point commence après l'animation du premier soit .4s ou 1.2/3*/
.point:nth-of-type(2) {
    -webkit-animation-delay: .4s;
}

/*Le troisième ou dernier point commence après l'animation du premier et du second soit .8s*/
.point:last-of-type {
    -webkit-animation-delay: .8s;
}


/*
    +------------------------+
    | Soulignage_grand_menus |
    +------------------------+
*/

/*Je n'oublie pas de générer un content, lui mettre une position absolu et le caler sur mon élément*/
/*Je redéfinie son point d'origine à gauche*/
.menu__partie-titre h3::after {
    content: "";
    position: absolute;
    bottom: 0em;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 1000ms;
    transform-origin: left;
}

/*Je fais apparaitre la ligne*/
.menu__partie-titre h3:hover::after {
    opacity: 1;
    transform: scaleX(1);
}