
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe';
    src: url('font/segoepr.ttf') format('truetype');
}


h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    color: #ffce44;
    margin-right:0.5em;
}

header {
    display: flex;
    background-color: #579c87;
    width: 100%;
    justify-content: center;
    align-content: center;
}

header a {
    width:15%;
    margin:1%;
}


header img{
    width: 100%;
 }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    align-content: space-between;
}

article a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        width: 47%;
        margin-top: 3em;
        height: 700px;
        text-align: center;
        justify-content: center;
    }

#menu__note {
    background-color: #fcdfdb;
    color: #3b1419;
    box-shadow: 0em 0em 0.5em 0em rgba(0, 0, 0, 0.35);
}

#menu__note i {
    font-size: 3.5em;
    margin-bottom: 0.2em;
    background: linear-gradient(to right, #f15961 40%, #f8a184 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu__note h2 {
    font-family: 'Segoe';
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 0.9em;

}

#menu__note h3 {
    font-family: 'Devonshire', cursive;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing:0.01em;

}

#menu__chic {
    background-color: #fef5f9;
    box-shadow: 0em 0em 0.5em 0em rgba(0, 0, 0, 0.35);
}

#menu__chic h2 {
    color: #c77529;
    font-family: 'Times New Roman';
    font-weight: bolder;
    line-height: 1.5em;
}

#menu__chic h3 {
    background: linear-gradient(45deg, #c77529 30%, #b67094 40%, #7762ab 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DM Serif Text', serif;
    font-weight:initial;
}

#menu__papilles {
    background-color: #f8f9fa;
    box-shadow: 0em 0em 0.5em 0em rgba(0, 0, 0, 0.35);
}

#menu__papilles h2 {
    color: #437ec1;
    font-family: 'Segoe';
    line-height: 0.9em;
    line-height: 1.5em;
}

#menu__papilles h3 {
    background: linear-gradient(45deg, #3951a3 30%, #437ec1 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Great Vibes', cursive;
    font-size:2.5em;
    letter-spacing:0.07em;
}

#menu__palette {
    background-color: #fdfffd;
    box-shadow: 0em 0em 0.5em 0em rgba(0, 0, 0, 0.35);
}

#menu__palette h2 {
    color: #73c058;
    font-family: 'Segoe';
    line-height: 0.9em;
    line-height: 1.5em;
}

#menu__palette h3 {
    background: linear-gradient(45deg, #3c9444 30%, #c2db77 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.07em;
}

#prochainement {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background-color: #579c87;
    border-radius: 0.8em;
    width: 20%;
    margin: 2em 0em 7em 0em;
    padding: 1em 1em 1em 1em;
}

.point {
    height: 10px;
    width: 10px;
    background-color: #ffce44;
    border-radius: 3em;
    margin: 0.5em;
}

footer a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #ffce44;
}


footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 5em;
    width: 100%;
    background-color: #579c87;
}

#annexe {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media screen and (min-width: 767px) and (max-width : 1367px) {
    article, #annexe{
        width: 90%;
    }

    header a{
        width: 40%;
        margin: 3%;
    }

    article a {
        width: 47%;
        height: 550px;
        font-size: 0.85em;
        margin-top: 4%;
    }

    #prochainement{
        width: 40%;
        margin: 1em;
        margin-top: 2em;
        margin-bottom: 7em;
    }

    footer {
        height: 6em;
    }

    h4{
        font-size:2em;
    }

 }

@media screen and (max-width: 767px) {
    article, #annexe {
        width: 90%;
    }

    header a {
        width: 70%;
        margin: 5%;
    }

    article a {
        width: 100%;
        margin-top: 8%;
        height: 450px;
        font-size: 0.85em;
    }

    h4 {
        text-align:center;
        width: 100%;
        font-size: 1.5em;

    }

    #prochainement {
        width: 80%;
        margin-top: 8%;
        margin-bottom: 6em;
    }


    footer{
        font-size: 0.85em;
        height: 6em;
        align-items:center;
    }

    #annexe{
        flex-direction: column;
        justify-content: space-between;
        height:70%;
    }

}


