/*
    +-----------------+
    | GENERAL_ACCUEIL |
    +-----------------+
*/


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe';
    src: url('font/segoepr.ttf') format('truetype');
}

h1 {
    font-size: 2em;
}

h2 {
    font-family: 'Segoe';
    font-size: 2.2em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    color: #ffce44;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*
    +--------------+
    | MENUS_commun |
    +--------------+
*/


section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section a {
    width: 47%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    text-decoration: none;
    text-align: center;
    box-shadow: 0em 0em 0.5em 0em rgba(0, 0, 0, 0.35);
}


/*
    +-----------------------+
    | MENUS_specifique_note |
    +-----------------------+
*/


#menu__note {
    background-color: #fcdfdb;
    color: #3b1419;
}

#menu__note i {
    font-size: 3.5em;
    margin-bottom: 0.2em;
    background: linear-gradient(to right, #f15961 40%, #f8a184 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu__note h1 {
    font-family: 'Devonshire', cursive;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.01em;
}

#menu__note h2 {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 0.9em;
}


/*
    +-----------------------+
    | MENUS_specifique_chic |
    +-----------------------+
*/


#menu__chic {
    background-color: #fef5f9;
}

#menu__chic h1 {
    background: linear-gradient(45deg, #c77529 30%, #b67094 40%, #7762ab 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DM Serif Text', serif;
    font-weight: initial;
}

#menu__chic h2 {
    color: #c77529;
    font-family: 'Times New Roman';
    font-weight: bolder;
    line-height: 1.5em;
}


/*
    +---------------------------+
    | MENUS_specifique_papilles |
    +---------------------------+
*/


#menu__papilles {
    background-color: #f8f9fa;
}

#menu__papilles h1 {
    background: linear-gradient(45deg, #3951a3 30%, #437ec1 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    letter-spacing: 0.07em;
}

#menu__papilles h2 {
    color: #437ec1;
    line-height: 1.5em;
}


/*
    +---------------------------+
    | MENUS_specifique_palettes |
    +---------------------------+
*/


#menu__palette {
    background-color: #fdfffd;
}

#menu__palette h1 {
    background: linear-gradient(45deg, #3c9444 30%, #c2db77 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.07em;
}

#menu__palette h2 {
    color: #73c058;
    line-height: 1.5em;
}


/*
    +---------------+
    | PROCHAINEMENT |
    +---------------+
*/


#prochainement {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: #579c87;
    border-radius: 0.8em;
    margin: 2em 0em 7em 0em;
    padding: 1em;
}

#trois-points {
    display: flex;
    flex-direction: row;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 3em;
    margin: 0.5em;
    background-color: #ffce44;
}


/*
    +---------------------+
    | RESPONSIVE_Tablette |
    +---------------------+
*/


@media screen and (min-width: 767px) and (max-width : 1367px) {
    
    section {
        width: 90%;
    }

    section a {
        width: 47%;
        height: 550px;
        font-size: 0.85em;
        margin-top: 2.5em;
    }

    #prochainement {
        width: 40%;
        margin: 1em;
        margin-top: 2em;
        margin-bottom: 7em;
    }

    h3 {
        font-size: 2em;
    }
 }


/*
    +-----------------------+
    | RESPONSIVE_smartphone |
    +-----------------------+
*/


@media screen and (max-width: 767px) {
    
    section {
        width: 90%;
    }

     /*on passe les menus à 100% pour plus de lisibilié*/
    section a {
        width: 100%;
        height: 520px;
        margin-top: 8%;
        font-size: 0.85em;
    }

    h3 {
        font-size: 1.5em;
    }

    #prochainement {
        width: 80%;
        margin-top: 8%;
        margin-bottom: 6em;
    }
}


