/*
    +--------+
    | HEADER |
    +--------+
*/


header {
    display: flex;
    background-color: #579c87;
    width: 100%;
    justify-content: center;
    align-content: center;
}

header a {
    width: 15%;
    margin: 1%;
}


/*
    +--------+
    | FOOTER |
    +--------+
*/


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: #579c87;
}

#annexe {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #ffce44;
}


/*
    +---------------------+
    | RESPONSIVE_Tablette |
    +---------------------+
*/


@media screen and (min-width: 767px) and (max-width : 1367px) {
    
    #annexe {
        width: 90%;
    }

    header a {
        width: 38%;
        margin: 2%;
    }

    footer {
        height: 5.2em;
    }
}


/*
    +-----------------------+
    | RESPONSIVE_smartphone |
    +-----------------------+
*/


@media screen and (max-width: 767px) {

    /*on passe mentions légales et contactez- nous en mode colonne pour plus de lisibilié*/
    #annexe {
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }

    header a {
        width: 65%;
        margin: 5%;
    }

     footer {
        font-size: 0.85em;
        height: 6em;
        align-items: center;
    }
}
